.nav, li{display: inline;}

ul{color: white;}

.container-icons{   
  width: 150px;
  height: 450px;
}
.copyright{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.iconsize{
  height: 30px;
  width: 30px;
}
.jumbotron, p{ 
  color:cornsilk;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }
.section{
  background-color: dimgray;
  padding: 10px;
  background-color: rgba(125, 125, 125, 0.7);
}
a, h3, h2, h1{color: white;}

.link{
  color: cyan;
}
.myBackground {
  background-color: rgba(255,255,255, 0);
}
.b, .word{
  padding: 15px;
  background-color: rgba(153,102,102, 0.3);
}
.bioPic{
	padding-top: 30px;
	width: 105%;
	height: 105%;
}
iframe{
  border-left: 10px solid white;
  border-top: 10px solid white;
  padding-left: 0
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;	
}
