$color_1: #fff; //white
$color_3: cornsilk;
$color_4: cyan;
$color_5: #3a3a3a; //dark grey
$color_6: #000; //black
$color_7: #FE8B05; //tan/orange
$font_family_1: 'VT323',
monospace;
$font_family_2: 'Ranchers',
cursive;
$background_color_2: rgba(255, 0, 0, 0.6); //transparent red
$background_color_3: rgba(107, 142, 35, 0.4); //transparent green
$background_color_4: dimgray; //light grey
$background_color_5: rgba(125, 125, 125, 0.7); //transparent grey
$background_color_6: rgba(255, 255, 255, 0);
$background_color_7: rgba(153, 102, 102, 0.3);
$background_color_8: rgba(255, 128, 0, 0.5);
$background_color_9: #668284; //dark jade green
$background_color_10: rgba(255, 255, 255, .5); //transparent
$background_color_11: #4bc6fe; //light blue
$background_color_13: #A9DA88; //light pastel green
$background_color_15: #94BA65; //pastel green
$background_color_16: #608039; //jade green
$background_color_17: #71c03c; //light green